
html, body {
  height: 100%;            
  margin: 0;      
  padding: 0;              
  overflow-x: hidden;     
  overflow-y: auto;        
}

#root {
  min-height: 100%;     
  width: 100%;          
  display: flex;
  flex-direction: column;   
  overflow: hidden;          
}

body {
  background-color: #221f1f;
  color: #f5f5f1;
  margin: 0;           
  padding: 0;               
}

.App {
  flex-grow: 1;        
  display: flex;
  flex-direction: column;    
}

.navbar {
  z-index: 10;                
}

.icons {
  font-size: 1.5em;
  color: #f5f5f1;
  cursor: pointer;
}

.icons:hover {
  color: #ccc;
}

.movie-card img, .carousel-item img {
  width: 100%;                
  height: 300px;              
  object-fit: cover;          
}

.movie-card img:hover {
  transform: scale(1.05);      
  transition: transform 0.2s ease-in-out; 
}

.carousel-inner {
  width: 100%;                
  overflow: hidden;           
}

footer {
  background-color: #221f1f;
  color: #f5f5f1;
  padding: 20px;
  text-align: center;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

.footer-links a:hover {
  text-decoration: underline;
}

html, body, .App {
  margin: 0;
  padding: 0;
  overflow-x: hidden;        
}

body {
  min-height: 100vh;          
  display: flex;
  flex-direction: column;   
}

footer {
  position: relative;
  bottom: 0;               
  width: 100%;                
}

/* extra */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
}





